---
import Header from "@components/layout/Header.astro";
import Sidebar from "@components/layout/Sidebar.astro";
import JsonEditor from "@components/sections/JsonEditor/JsonEditor.astro";
import LivePreview from "@components/sections/LivePreview/LivePreview.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="My Astro Site" description="A simple Astro site">
  <div class="relative grid grid-cols-[auto_1fr] grid-rows-[auto_1fr] min-h-screen">
    <Sidebar />
    <Header title="schema.json" />
    <main class="col-start-2 row-start-2 w-full h-full overflow-x-auto mesh-gradient">
      <div class="flex flex-wrap gap-4 h-full p-4">
        <JsonEditor />
        <LivePreview />
      </div>
    </main>
  </div>
</Layout>
