---
import GenerateIcon from "@components/icons/Generate.astro";
import Button from "@components/ui/Button.astro";

const initialJson = `{
  "name": "Nombre de una persona",
  "age": "Edad entre 10 y 20 años",
  "email": "Correo electrónico de prueba"
}`;
---

<section class="relative flex-3 bg-[#0d1117] min-h-100 border border-neutral-800 overflow-hidden rounded-md">
  <div>
    <textarea
      id="json-textarea"
      spellcheck="false"
      class="absolute inset-0 p-4 resize-none bg-transparent text-transparent caret-neutral-50 outline-none z-10"
      >{initialJson}</textarea
    >
    <pre
      id="json-display"
      aria-hidden="true"
      class="absolute inset-0 p-4 overflow-auto pointer-events-none whitespace-pre-wrap break-all text-neutral-50">
    </pre>
  </div>
  <footer class="absolute bottom-4 right-4 flex items-center gap-4 z-20">
    <Button id="format-btn" variant="secondary" class="flex-1">Formatear</Button>
    <Button id="generate-mocks-btn" class="flex-1">
      Generar Datos
      <GenerateIcon class="w-5 h-5" />
    </Button>
  </footer>
</section>
