#AI VARIABLES
NODE_ENV = 
GOOGLE_GEMINI_API_KEY = 
GOOGLE_GEMINI_API_MODEL = 
LLM_RESPONSE_MINE_TYPE = 

#RATE LIMIT VARIABLES
RATE_LIMIT_TIME_LAPSE = 
RATE_LIMIT_REQUEST_LIMIT = 
RATE_LIMIT_LEGACY_HEADERS = 
